@font-face {
  font-family: "lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "playfair";
  src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: "bebas";
  src: url(./fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body {
  border: 8px solid #ff9d94;
  color: #1d314c;
  margin: 0;
  background-color: #f2f0f0;
  font-family: "lato";
  height: 5000px;
}

.container-fluid {
  padding: 32px;
}
.navbar-brand {
  margin-right: 48px;
  font-family: "bebas";
  font-size: 25px;
  background-color: #1d314c;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #f2f0f0;
}
.navbar-brand:hover {
  color: #1d314c;
  background-color: #ff9d94;
}

.logo {
  width: 50px;
}
.navbar-toggler {
  background-color: #ff9d9425;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse {
  width: 8% !important;
}

.custom-underline {
  margin: 0 10px;
  color: #1d314c;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.custom-underline:after {
  color: #1d314c !important;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  background: #ff6f61;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.custom-underline:hover:after {
  color: #1d314c !important;
  width: 100%;
}

.custom-underline:hover {
  color: #1d314c !important;
}
.navbar {
  font-size: 23px;
}

.nav-link {
  padding: 0px !important;
  margin-right: 48px;
  margin-left: 0px !important;
}

.navbar-toggler {
  border: solid 1px #ff6f61;
}

h1 {
  font-size: 79px;
  font-family: "playfair";
  margin-left: 40px;
  margin-right: auto;
}

h2 {
  font-weight: 600;
  margin-top: 80px;
  font-size: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.about {
  margin-top: 24px;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.skillBar {
  margin-top: 16px;
  margin-left: 40px;
  margin-right: 40px;
}

.bar:hover {
  height: 25px;
}
.form-control {
  background-color: #e5dfde;
  border: none;
  border-bottom: solid 1px #ff9d94;
}

.following {
  font-size: 20px;
}

.inTextLink {
  font-weight: 800;
  margin: 0;
}

.contactForm {
  padding: 20px;
  margin: auto;
}

.contactSentence {
  font-size: 20px;
  margin: auto;
  margin-left: 40px;
  margin-bottom: 40px;
}

input {
  margin-bottom: 16px;
}

label {
  font-size: 20px;
}

.btn {
  margin-top: 16px;
  background-color: #ff9d94;
  width: 100px;
}

.btn:hover {
  background-color: #ff6f61;
}

input:focus {
  background-color: #e5dfde !important;
  border: none !important;
  border-bottom: solid 1px #1d314c !important;
  outline: none;
}

textarea:focus {
  background-color: #e5dfde !important;
  border: none !important;
  border-bottom: solid 1px #1d314c !important;
  outline: none;
}

.socialLinks {
  font-size: 20px;
}

span {
  font-weight: 800;
}

.projectImg {
  width: 368px;
}

.carouselBg {
  border: #ff9d94 solid 2px;
}

h3 {
  font-family: "playfair";
  font-size: 30px;
}

.fa-grip-lines {
  color: #ff6f61;
  padding-top: 5px;
}

.fa-grip-lines:hover {
  color: #ff9d94;
}

img {
  /* height:150px; */
  width: 100%;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  background-color: #FFECEB;
  transition: 0.5s;
}
.card-title {
  font-family: "playfair";
  font-size: 25px;
  transition: 1s;
  cursor: pointer;
}
.card-link i {
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
  color: #1d314c;
}
.card-link {
  text-align: end;
  font-size: 15px;
}
.card-link i:hover {
  transform: scale(1.25) rotate(360deg);
  color: #ff6f61;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;

  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-text {
  color: #ff6f61;
  font-weight: 600;
  height: 48px;
  font-size: 12px;
  margin-left: 8px;
}

.projectLink {
  margin-right: 8px;
  text-decoration: none;
  color: #1d314c;
}

.projectLink:hover {
  color: #ff6f61;
}
.card-title{
  margin-left: 8px;
}
.card{
  border: #ffe1de solid 1px;
}

.project{
  margin-top: 8px;
}